.backToBtn {
  display: flex;
  align-items: center;
}
.backToIcon {
  color: #cfd6dc;
  cursor: pointer;
}
.backToBtn span {
  margin-inline-start: 8px;
  color: var(--color-gray-6);
}
.contentContainer {
  margin: 15px 35px 0;
}
.detailsContainer {
  margin-top: 0px !important;
}
.dataContainer {
  display: flex;
  margin-bottom: 10px;
}

.title {
  min-width: 105px;
  font-size: 10px;
  font-weight: 600;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--color-gray-4);
}
.value {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-black-0);
  text-transform: capitalize;
}
.statusVal {
  border-radius: 5px;
  width: 100px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-transform: capitalize;
}
.itemImg {
  width: 100%;
  /* height: 100%;*/
  object-fit: contain;
  max-height: calc(100% - 35px);
}

.controlesContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
.aproveBtn,
.rejectBtn {
  height: 39px;
  width: 136px;
  border-radius: 6px !important;
  box-shadow: none !important;
  text-transform: capitalize !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
}
.aproveBtn {
  background-color: var(--color-primary) !important;
  color: #fff !important;
}

.rejectBtn {
  border: 1px solid var(--color-gray-0) !important;
  color: var(--color-gray-0) !important;
  background-color: #fff !important;
}
